/*	Author: 	Carlton Louie, Brenda Coutino
	Class:		CSC 337
	File:		style.css
	Assignment:	Final Project
	This file is the styling file for the html pages.
*/

body{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 30px;
}

#header{
	background-color: rgb(7, 87, 152);
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 20%;
	border:	solid;
	text-align: center;
	padding: 20px;
}

#mainTable{
	background-color: rgb(45, 114, 178);
	color: white;
	position: fixed;
	top: 20%;
	height: ;
	left: 0;
	right: 0%;
	bottom: 0;
	border: solid;
}

#leftBar{
	background-color: rgb(45, 114, 178);
	color: white;
	position: fixed;
	top: 20%;
	left: 0;
	right: 50%;
	bottom: 0;
	border: solid;
	padding-left: 20px;
}

#rightBar{
	background-color: rgb(45, 114, 178);
	color: white;
	position: fixed;
	top: 20%;
	left: 50%;
	right: 0%;
	bottom: 0;
	border: solid;
	padding-left: 20px;
}

table, th, td{
  border: solid;
}

h2{
	text-align: center;
}
